html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.accordion-item {
  border: none;
  background: none;
}

.nav .nav-link:hover {
  color: blue;
}

.nav .nav-link.active {
  color: white;
  background-color: blue;
}

.hover-effect {
  color: #3d3d3d;
}

/* Basic styling for dropdown suggestions */
.suggestions {
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  background: white;
  width: 200px;
  display: none;
  z-index: 1000;
}
.suggestions div {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}
.suggestions div:last-child {
  border-bottom: none;
}
.suggestions div:hover {
  background-color: #f2f2f2;
}
.ui-state-focus {
  background-color: #f0f0f0;  /* Highlight color */
  cursor: pointer;
}
